@CHARSET "UTF-8";

@import "mysite.css";

* {
	margin: 0;
	padding: 0;
}
/*
#guestbook {
	padding: 10px;
}

#guestbook h1 {
	background: url("/mysite03/assets/images/guestbook.png") 0 0 no-repeat;
	padding-left: 35px;
	background-size: 35px 35px;
	margin: 0 0 10px 0;
	color: #898989;
}

#guestbook input[type="text"], #guestbook input[type="password"],
	#guestbook input[type="submit"] {
	margin: 15px auto;
	width: 100%;
	height: 30px;
	outline: none;
	display: block;
}

#guestbook textarea {
	display: bolck;
	width: 100%;
	height: 1000em; !
	overflow-y: hidden;
	resize: none;
	max-height: 100px;
	outline: none;
}

#guestbook input[type="submit"] {
	height: 40px; border : 1px solid #aaa;
	padding: 10px;
	font-weight: bold;
	background-color: #fff;
	border: 1px solid #aaa;
}

#guestbook input[type="submit"]:hover {
	background-color: #FF0000;
	cursor: pointer;
	color: #000000;
}

#guestbook form {
	width: 570px;
	border-bottom: 1px solid;
	border-color: #aaa;
	margin-bottom: 10px;
}

#guestbook ul {
	width: 570px;
}

#guestbook ul li {
	background: url("/mysite03/assets/images/user.png") left 0 no-repeat;
	background-size: 40px 50px;
	position: relative;
}

#guestbook ul li strong {
	color: #aaa;
	margin-left: 60px;
	display: block;
}

#guestbook ul li p {
	border: 1px solid #aaa;
	border-color: #aaa;
	background-color: #E3E3E3;
	margin-left: 60px;
	margin-bottom: 10px;
	height: 30px;
	padding: 10px;
}

#guestbook ul li a {
	background: url("/mysite03/assets/images/delete.png") 0 0 no-repeat;
	background-size: 20px 20px;
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	margin-left: 25px;
	margin-top: -40px;
	font-size: 0;
}
*/

#guestbook		{ margin:20px auto;	width:540px; }

#guestbook h1	{
	color: #464A4F;
	margin-bottom: 10px;
	padding-left: 40px;
	background: url('/mysite03/assets/images/guestbook.png') 0 0 no-repeat;	
	background-size: 35px;
} 

#guestbook form input,
#guestbook form textarea {
	display:block;
	border: 1px solid #a9a9a9;
	outline: none;
	width: 540px;
	padding: 5px;
	margin-bottom: 10px;
}

#guestbook form textarea {
	height:80px;
	resize: none;
}

#guestbook form input[type="submit"] {
	width:552px;
	font-weight:bold;
	color:#846b5c;
	background-color: #fff;
	cursor: pointer;
}

#guestbook form input[type="submit"]:hover {
	background-color: #65b791;
	color: #fff;
}

#guestbook ul {
	width:552px;
	margin-top: 20px;
	border-top:1px solid #a9a9a9;
}

#guestbook ul li {
	position: relative;
	width:100%;
	margin-top:20px;
	padding-left:50px;
	background: url('/mysite03/assets/images/user.png') 0 5px no-repeat;	
}

#guestbook ul li strong,
#guestbook ul li a {
	display: block;
}

#guestbook ul li strong {
	color:#777;
}

#guestbook ul li p {
	width: 465px;
	margin: 5px 0;
	padding: 10px;
	border: 1px solid #cacccc;
	border-radius: 4px;
	background-color: #eaeaea;
}

#guestbook ul li a {
	position: absolute;
	width: 20px;
	height: 20px;
	left:18px;
	top:26px;
	font-size: 0;
	background: url('/mysite03/assets/images/delete.png') 0 0 no-repeat;
}
